name: Publish Snap

on:
  push:
    branches:
      - main  # Change this to your default branch

  pull_request:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: checkout git repository
        uses: actions/checkout@v4

      - name: Build the snap
        uses: snapcore/action-build@v1
        with:
          snapcraft-channel: 7.x/stable

      - name: get snap path
        run: realpath unit_*.snap
